$primary-color: #e3e3dd;
$btn-color: #6e8672;


#container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 30px;
  background-color: $primary-color;
}

h2 {
  font-size: 15px;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#form_create {
  width: 100%;
  margin-top: 5em;

  .formulaire {
    padding: 1em;

    .create-employee {
      display: flex;
      flex-direction: row;
      gap: 60px;
      justify-content: center;
    }
    .bloc-create {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap:60px;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-top: 1.5em;

      .infos-user {
        width: 100%;
      }

      .adress-user {
        width: 100%;
      }
    }
  }
}

.input,
.dates,
.bloc_adress {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-bottom: 1.5em;

  input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

  label {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
}

.dates {
  .css-z3c6am-MuiFormControl-root-MuiTextField-root {
    width: 100%;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root
    .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px;
    font-size: 12px;
  }
}

.bloc_adress {
  .css-1fdsijx-ValueContainer {
    font-size: 12px;
  }

  .css-13cymwt-control {
    border: none;
    font-size: 12px;
  }
  
}
.button {
  display: block;
  margin: auto;
  border-radius: 5px;
  width: 80%;
  padding: 10px 5px 10px 5px;
  background-color: $btn-color;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
}
.calendar.show {
  background-color: white;
}

.custom-date {
  font-size: 14px;
  background-color: white;
  border: none;
}
.select {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.error-message {
  margin-top: 3px;
  font-size: 11px;
  color: red;
}
.modal-active #container form {
  opacity: 0.8; /* Opacité du formulaire */
  pointer-events: none; /* Désactivation des événements sur le formulaire pour éviter les interactions */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 100px; /* Hauteur fixe de la modal */
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer horizontalement */
  text-align: center; /* Centrer le texte horizontalement */
  line-height: 300px; /* Alignement vertical */
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 1000px) {
  #container {
    width: 900px;
  }
}

@media screen and (max-width: 900px) {
  #container {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  #container {
    width: 100%;
  }
}